@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding: 20px 5%;
}

main {
  flex: 1;
}
